DB_SOURCE_HOST=localhost
DB_SOURCE_PORT=5437
DB_SOURCE_NAME=alpha
DB_SOURCE_USER=alpha
DB_SOURCE_PASSWORD=alpha123

DB_DESTINATION_HOST=localhost
DB_DESTINATION_PORT=5438
DB_DESTINATION_NAME=omega
DB_DESTINATION_USER=omega
DB_DESTINATION_PASSWORD=omega789

BOOTSTRAP_SERVERS=localhost:9094
GROUP_ID=kafka-cdc
GROUP_INSTANCE_ID=consumer-1
INTERVAL_SECONDS=5